@import "blocks/variables_mixins_fonts"; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    overflow: visible;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $color-primary;
    &:hover {
        color: $color-primary-light;
    }
}

.heading {
    @include georgia_400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    &_tac {
        text-align: center;
    }
}

.btn {    
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    padding: 15px 0;
    width: 207px;
    border: none;
    transition: all 0.5s;
    @include alignment_center;
    text-align: center;
    &:hover {
        background-color: $color-primary-light;        
        color: $color-dark-3xl;
    }
    &_primary {
        background: $color-primary;
        @include georgia_400;
        font-size: 18px;
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
    }
    &_secondary {        
        border: 2px solid $color-primary;
        background-color: transparent;
    }
    &_pets {
        display: block;
        padding: 0;
        margin: 60px auto 0;
        width: 260px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.01em;
    }
    &_round {
        padding: 0;
        @include alignment_center;
        width: 52px;
        height: 52px;
    }
    &_active {
        background-color: $color-primary;
    }
    &_inactive {
        color: $color-dark-s;
        border: 2px solid $color-dark-s;
        &:hover {
            background-color: transparent;
            color: $color-dark-s;
            cursor: auto;
        }
    }
}


@import "blocks/header";
@import "blocks/start-screen";
@import "blocks/about";
@import "blocks/pets";
@import "blocks/pet-card";
@import "blocks/help";
@import "blocks/donation";
@import "blocks/footer";
@import "blocks/modal-window";
@import "blocks/pets-galery";
@import "blocks/media";