@import "blocks/variables_mixins_fonts";
@import "blocks/header";
@import "blocks/start-screen";
@import "blocks/about";
@import "blocks/pets";
@import "blocks/pet-card";
@import "blocks/help";
@import "blocks/donation";
@import "blocks/footer";
@import "blocks/modal-window";
@import "blocks/pets-galery";
@import "blocks/media";

/* @font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMdm.ttf') format('truetype');
    font-display: swap;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $color-primary;
    &:hover {
        color: $color-primary-light;
    }
}

.btn {    
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    padding: 15px 45px;
    border: none;
    transition: all 0.5s;
    &:hover {
        background-color: $color-primary-light;
    }
    &_primary {
        background: $color-primary;
        @include georgia_400;
        font-size: 17px;
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
    }
    &_secondary {        
        border: 2px solid $color-primary;
        background-color: transparent;
    }
    &_pets {
        display: block;
        margin: 60px auto 0;
        width: 266px;
    }
    &_round {
        padding: 0;
        @include alignment_center;
        width: 52px;
        height: 52px;
    }
    &_active {
        background-color: $color-primary;
    }
    &_inactive {
        color: $color-dark-s;
        border: 2px solid $color-dark-s;
        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}

.heading {
    @include georgia_400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    &_tac {
        text-align: center;
    }
}