.about {
    background-color: $color-white;
    padding: 80px 0 100px;
    .container {
        padding: 0 215px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pets {
        width: 35%;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    &__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 25px;         
    }
    &__subheading {
        @include arial_400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-xl;
    }
}