.about {
    min-height: 588px;
    background-color: $color-white;
    padding: 80px 0 100px;
    .container {
        max-width: 849px;
        display: flex;
        justify-content: space-between;
    }
    &__pets {
        width: 300px;
        height: 408px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    &__wrapper {
        width: 429px;
        min-height: 380px;
    }
    .heading {
        margin-top: 16px;
    }
    &__subheading {
        margin-top: 25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-xl;
    }
}