.footer {
    min-height: 350px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    padding: 56px 0 60px;
    .container {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .heading {
        color: $color-white;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    &__contacts, &__locations {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 234px;
    }
    &__contacts {
        width: 282px;        
    }
    &__locations {
        width: 302px;
        .footer__item {
            display: flex;
            align-items: center;
        }
    }
    &__img {
        width: 300px;
        img {
            width: 300px;
            position: relative;
            top:64px;
        }
    }
    &__item {
        @include georgia_400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: white;
    }
    &__address {
        @include georgia_400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: $color-primary;
    }
}