.header {
    min-height: 60px;
    padding: 30px 0;
    &__wrapper {
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        text-align: center;
        &__title {
            @include georgia_400;
            font-size: 32px;
            line-height: 110%;
            letter-spacing: 0.06em;
            transition: all 0.5s;
        }
        &__subtitle {
            margin-top: 10px;
            @include arial_400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: $color-white;
        }
    }
    .nav {
        display: flex;        
        align-items: center;
        transition: all 0.5s;
        ul {
            display: flex;
            column-gap: 35px;
            list-style-type: none;
            width: 443px;
        }
        &__link {
            @include arial_400;
            font-size: 15px;
            text-decoration: none;
            color: $color-dark-s;
            transition: all 0.3s;
            display: block;
            &:hover {
                color: $color-light-s;
            }
            &_active {
                border-bottom: solid 3px $color-primary;
                color: $color-white;
                pointer-events: none;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
    .burger-menu {
        display: none;
        width: 30px;
        height: 22px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s;
        &__line {
            width: 30px;
            height: 2px;
            background-color: $color-primary;
            &_active {
                background-color: $color-primary;
            }
        }
        &_active {
            transform: rotate(90deg);
        }
    }

    &_white {
        a {                    
            color: $color-dark-l;
            &:hover {
                color: $color-dark-3xl;
            }
        }
        .logo {
            &__subtitle {
                color: $color-dark-3xl;
            }
        }
        .nav {
            &__link {
                color: $color-dark-l;
                &:hover {
                    color: $color-dark-3xl;
                }
            }
        }
        .burger-menu {
            &__line {
                background-color: #000000;
                &_active {
                    background-color: $color-primary;
                }
            }
        }
    }
}