@media (max-width: 1279px) {
    .container {
        max-width: 90%;
    }

    .header {
        width: 100%;
        padding-left: 0;
        .nav {
            ul {
                left: 0;
            }
        }
    }

    .start-screen {
        &__wrapper {
            width: 100%;
        }
        &__content {
            width: 43%;
        }
    }
}



@media (max-width: 992px) {
    .container {
        max-width: 92%;
    }
    
    .btn {
        &:hover {
            background-color: $color-primary;
        }
    }

    a {
        &:hover {
            color: $color-primary;
        }
    }

    .start-screen {
        min-height: 1165px;
        &__wrapper {
            min-height: 1075px;
            margin: 0;
            padding-top: 30px;
            background: url(../img/start-screen-puppy.png) no-repeat right bottom / 80%;
        }
        &__content {
            margin: 0 auto;
            width: 65%;
            .btn {
                display: block;
                margin: 0 auto;
                width: 212px;
            }
        }
        &__subheading {
            font-size: 15px;
            margin: 42px 0;
        }
    }
}



@media (max-width: 760px) {
    .header {
        align-items: center;
        .nav {
            @include alignment_center;
            position: fixed;
            top: 0;
            right: 0;          
            height: 100vh;
            transform: translateX(100%);
            background-color: $color-dark-3xl;
            min-width: 320px;
            ul {
                flex-direction: column;
                width: 243px;
                height: 327px;
                text-align: center;
            }
            &__link {
                font-size: 32px;
            }                   
            &_active {
                display: flex;
                transform: translateX(0);
                width: 320px;
            }
        }
        .burger-menu {
            display: flex;
            z-index: 2;
        }
    }

    .start-screen {
        min-height: 1000px;
        &__wrapper {
            min-height: 910px;
        }
        &__content {
            text-align: center;
            width: 80%
        }
        &__heading {
            font-size: 35px;
        }
    }
}

@media (max-width: 540px) {
    .header {
        padding: 0 9px;
    }

    .start-screen {
        min-height: 823px;
        &__wrapper {
            min-height: 733px;
            background: url(../img/start-screen-puppy.png) no-repeat right bottom/89%;
        }
        &__content {
            width: 100%;
        }
        &__heading {
            font-size: 25px;
            margin-top: 30px;
            letter-spacing: 0.06em;
        }
    }
}


/* @media (max-width: 992px) {
    
    .header {
        &_white {
            a {
                &:hover {
                    color: $color-dark-l;
                }
            }
            .nav {
                &__link {
                    &:hover {
                        color: $color-dark-l;
                    }
                }
            }
        }
    }
           
    .pet-card {
        max-width: 270px;
        min-height: 435px;
        background: $color-light-s;
        border-radius: 9px;
        text-align: center;
        &:hover {
            background-color: $color-white;
            .btn_secondary {
                background-color: $color-primary-light;
            }
        }
    }

    .modal-window {        
        &:hover {
            box-shadow: none;
        }
    }
}




@media (max-width: 760px) {

} */