.pet-card {
    max-width: 270px;
    min-height: 435px;
    background: $color-light-s;
    border-radius: 9px;
    text-align: center;
    transition: all 0.5s;
    &__btn {
        width: 70%;
        font-size: 17px;
        letter-spacing: 0.06em;
        margin: 0 auto;
    }
    &:hover {
        background-color: $color-white;
        cursor: pointer;
        .btn_secondary {
            background-color: $color-primary-light;
        }
    }
    &__img {
        width: 100%;
        border-radius: 9px 9px 0 0;      
    }
    &__title {
        margin: 25px auto 30px;
        @include georgia_400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
}