.start-screen {
    background: url(../img/bg_start-screen.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    .container {
        max-width: 94%;
    }
    min-height: 908px;
    /* background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); */
    padding-top: 30px;
    &__wrapper {
        margin: 90px auto 0;
        padding-top: 136px;
        width: 1200px;
        min-height: 728px;
        background: url(../img/start-screen-puppy.png) no-repeat right bottom / 58%;
    }
    &__content {
        width: 460px;
        min-height: 322px;
    }
    &__heading {
        @include georgia_400;
        font-size: 44px;
        line-height: 130%;
        color: $color-white;
    }
    &__subheading {
        @include arial_400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-s;
        margin: 42px 0;
    }
    
}