.start-screen {
    background: url(../img/bg_start-screen.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    min-height: 908px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__content {
        max-width: 42%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 42px;
        margin-bottom: 75px;
    }
    &__heading {
        @include georgia_400;
        font-size: 44px;
        line-height: 130%;        
        letter-spacing: 0.06em;
        color: $color-white;
        margin: 0;
    }
    &__subheading {
        @include arial_400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-s;
    }
    
    &__img {
        width: 58%;
    }
    
}