@import "variables_mixins_fonts.scss";

.header {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    .logo {
        &__title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 110%;
            letter-spacing: 0.06em;
            color: $color-primary;
        }
        &__subtitle {
            margin-top: 10px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: $color-white;
        }        
    }
    .nav {
        min-width: 10px;
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
    }
}