$color-primary: #F1CDB3;
$color-white: #FFFFFF;

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMdm.ttf') format('truetype');
    font-display: swap;
}
